<div class="card">
  <div class="pic"></div>
  <div class="content">
    <div class="title">That's Cool Thing</div>
    <div class="context">this is great awesome but nothing.this is great awesome but nothing.this is great awesome but nothing.</div>
    <div class="detail">
      <div class="author">Rach chen</div>
      <div class="tag">Entertainment</div>
    </div>
    <div class="info">
      <div class="location">
        <i style="color:black" class="fas fa-map-marker"></i>
        Kaushong</div>
      <div class="date">
        <i style="color:black" class="far fa-calendar-alt"></i>
        2018/5/24 - 2018/5/26</div>
    </div>
  </div>
</div>