.filter {
  background: #EBEBEB;
  padding: 2em;
  .location {
    padding: 1em 0;
    border-bottom: 1px solid #D7D7D7;
    .title {
      margin-bottom: .5em;
      font-size: 1.2em;
      font-weight: bold;
    }
    .menu {}
  }
  .date {
    padding: 1em 0;
    border-bottom: 1px solid #D7D7D7;
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .categories {
    padding: 1em 0;
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}