<div class="filter">
  <div class="location">
    <div class="title">Location</div>

    <select class="menu">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>
  <div class="date">
    <div class="title">Date</div>
    <div class="from">
      <div class="sub-title">from</div>
      <input type="date" name="" id="">
      <div class="sub-title">To</div>
      <input type="date" name="" id="">
    </div>
  </div>
  <div class="categories">
    <div class="title">categories</div>
    <input type="checkbox" name="" id="" value="all">all
    <br>
    <input type="checkbox" name="" id="" value="food">food
    <br>
    <input type="checkbox" name="" id="" value="learning">learning
    <br>
    <input type="checkbox" name="" id="" value="entertainment">entertainment
    <br>
  </div>
</div>